.custom-navbar {
    background-color: var(--color_rosa);
}

.titulo {
    font-size: 24pt;
    padding-top: 60px;
    padding-right: 15px;
    font-weight: bold;
    color: var(--color_rosa);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.texto {
    color: antiquewhite;
}

.fondo {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(138, 138, 138, 1) 85%, rgba(237, 237, 237, 1) 100%);
}

body {
    background: #ebebeb;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.enlace {
    font-size: 18pt;
    padding-right: 15px;
    font-weight: bold;
    color: var(--color_azul);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.imagen-personaje {
    max-height: 500px;
    display: block;
    margin: 0 auto;

}

.carta-info {
    .max-size {
        max-width: 100px;
        max-height: 100px;
    }
}

.info-producto {
    list-style: none;
}

.carta-info li:nth-child(even) {
    color: var(--color_azul);
}

.carta-info li:nth-child(odd) {
    color: var(--color_rosa);
}

footer {
    padding: 3px;
    color: white;
    text-align: center;
}

footer b{
    color: var(--color_rosa);
}

:root {
    --color_azul: #039db4;
    --color_rosa: #f35387;
}

/*El media se utiliza para que se represente correctamente la imagen en un samsung galaxy*/
@media (max-width: 280px) {
    .imagen-personaje {
        max-height: 400px;
    }
}