.custom-navbar {
    background-color: var(--color_rosa);
}
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}
.titulo {
    font-size: 24pt;
    padding-top: 60px;
    padding-right: 15px;
    font-weight: bold;
    color: var(--color_rosa);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.texto {
    color: antiquewhite;
}

.fondo {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(138, 138, 138, 1) 85%, rgba(237, 237, 237, 1) 100%);
}

.enlace {
    font-size: 18pt;
    padding-right: 15px;
    font-weight: bold;
    color: var(--color_azul);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-info img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
}

.imagen-personaje {
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

.soft-info li:nth-child(even) {
    color: var(--color_azul);
}

.soft-info li:nth-child(odd) {
    color: var(--color_rosa);
}

.info-producto {
    list-style: none;
}

body {
    background: var(--color-fondo);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

footer {
    padding: 3px;
    color: white;
    text-align: center;
}

footer b {
    color: var(--color_rosa);
}

a:visited {
    text-decoration: none;
}

/*Animaciones*/

.jump-hover:hover {
    transition: transform 0.2s;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotar:hover {
    animation: rotar 2s infinite linear;
}

@keyframes inclinar {
    0% {
        transform: skew(0deg);
    }

    100% {
        transform: skew(30deg);
    }
}

.inclinar:hover {
    animation: inclinar 2s infinite linear;
}

@keyframes mover {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100px, 50px);
    }
}

.mover:hover {
    animation: mover 2s infinite linear;
}


@keyframes movimientoSkew {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    50% {
        transform: matrix(1, 0.5, 0, 1, 100, 0);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 200, 0);
    }
}

.todoJunto:hover {
    animation: movimientoSkew 4s infinite linear;
}

@keyframes slideIn {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0);
    }
}

.slideIn:hover {
    animation: slideIn 1s;
}

/*Animación música(Sacada de la web)*/
.now.playing .bar {
    display: inline-block;
    position: relative;
    margin-right: 1px;
    width: 10px;
    height: 1px;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--color_azul), var(--color_rosa));
    color: transparent;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.n1 {
    animation-delay: 0.5s;
}

.n2 {
    animation-delay: 0.2s;
}

.n3 {
    animation-delay: 1.2s;
}

.n4 {
    animation-delay: 0.9s;
}

.n5 {
    animation-delay: 2.3s;
}

.n6 {
    animation-delay: 1.3s;
}

.n7 {
    animation-delay: 3.1s;
}

.n8 {
    animation-delay: 1.9s;
}

@keyframes pulse {
    0% {
        height: 1px;
        margin-top: 0;
    }

    10% {
        height: 20px;
        margin-top: -40px;
    }

    50% {
        height: 10px;
        margin-top: -20px;
    }

    60% {
        height: 20px;
        margin-top: -30px;
    }

    80% {
        height: 20px;
        margin-top: -60px;
    }

    100% {
        height: 1px;
        margin-top: 0;
    }
}

/*Root y media*/
:root {
    --color_azul: #039db4;
    --color_rosa: #f35387;
    --color-fondo: #ebebeb;
}

/*El media se utiliza para que se represente correctamente la imagen en un samsung galaxy*/
@media (max-width: 280px) {
    .imagen-personaje {
        max-height: 400px;
    }
}