@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
$fontstack: 'Gotu', sans-serif;
$primary : turquoise;
$primary_dark : darken($primary, 50%);
$primary_light : lighten($primary, 10%)