*{
  margin: 0;
  padding: 0;

}
$small: 576px;
$medium: 768px;

// Mixin
@mixin plantilla($color, $size: 14px) {
  color: $color;
  background-color: adjust-color(invert($color), $lightness: 20%);
  font-size: $size;
  margin: $size;
  padding: $size;
  line-height: 1.5;
  border: 5px solid $color;
}

body {
  padding: 1rem;
  font-family: Verdana, sans-serif;
}
#container {
  @include plantilla(darkred); // Default size of 14px

  @media screen and (max-width: $small) {
    @include plantilla(darkblue, 16px);
  }

  @media screen and (min-width: $medium) {
    @include plantilla(darkgreen, 20px);
  }
}