.contenedor {
    display: flex;
}

.caja {
    width: 100vh;
    height: 13vh;
    font-size: 100px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.caja1 {
    background: rgb(26, 188, 156);
    order: 2;
}

.caja2 {
    background: rgb(52, 152, 219);
    order: 3;
}

.caja3 {

    background: rgb(155, 89, 182);
    order: 8;
}

.caja4 {
    background: rgb(52, 73, 94);
    order: 4;
}

.caja5 {
    background: rgb(241, 196, 15);
    order: 0;
}

.caja6 {
    background: rgb(230, 126, 34);
    order: 5;
}

.caja7 {
    background: rgb(231, 76, 60);
    order: 9;
}

.caja8 {

    background: rgb(189, 195, 199);
    order: 6;

}

.caja9 {

    background: rgb(46, 204, 113);
    order: 1;
}

.caja10 {

    background: rgb(22, 160, 133);
    order: 7;
}